html, body {
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  /* border: 1px solid grey;
  margin: 5px;
  padding: 5px;  */
}

.FloorPlan{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.upper{
  display: flex;
  justify-content: center;
}

.upper-left{
  display: flex;
  flex-direction: column;
  margin: auto
}

.bottom{
  display: flex;
}


.bedroom{
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.living-room{
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.kitchen{
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100px;
}

.appliances{
  display: flex;
  height: 50px;
  top: 0;
}

#Full-bath{
  width: 200px;
  height: 100px;
}

#Half-bath{
  width: 100px;
  height: 200px;
}

.bath{
  background-color: olivedrab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oven{
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.sink{
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 50px;
}